/* ===== PAGE ===== */
.checkout-page {
  display: flex;
  gap: 40px;
  padding: 40px;
  background: #f6f6f6;
  min-height: 100vh;
  color: #222;
}

/* ===== LEFT ===== */
.checkout-left {
  flex: 2;
  background: white;
  padding: 30px;
  border-radius: 12px;
}

/* INPUT */
.checkout-left input {
  width: 100%;
  padding: 14px;
  margin-bottom: 8px;
  border: 1px solid #ddd;
  border-radius: 8px;
  transition: 0.2s;
}

.checkout-left input:focus {
  border-color: black;
  outline: none;
}

/* BUTTON */
.checkout-btn {
  width: 100%;
  padding: 15px;
  background: linear-gradient(135deg, #ff3c00, #ff0000);
  color: white;
  border-radius: 8px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s;
}

.checkout-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(255, 0, 0, 0.3);
}

.checkout-btn:active {
  transform: scale(0.97);
}

/* ===== ERROR ===== */
.error {
  color: red;
  font-size: 13px;
  margin-bottom: 10px;
}

/* ===== SUCCESS ===== */
.success {
  margin-top: 15px;
  padding: 12px;
  background: #e6ffe6;
  color: green;
  border-radius: 8px;
  text-align: center;
}

/* ===== PAYMENT ===== */
.payment-method {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px 0;
}

.payment-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 15px;
  border: 1px solid #eee;
  border-radius: 8px;
  cursor: pointer;
  background: white;
  transition: 0.2s;
}

.payment-item:hover {
  border-color: black;
}

/* CHECKED EFFECT */
.payment-item:has(input:checked) {
  border-color: black;
  background: #fafafa;
}

/* TEXT */
.payment-item span {
  font-size: 14px;
  color: #222;
}

/* RADIO */
.payment-item input {
  transform: scale(1.2);
  cursor: pointer;
}

/* ===== CARD ===== */
.card-box {
  margin-top: 15px;
}

.card-preview {
  background: linear-gradient(135deg, #000, #222);
  color: white;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 15px;
  font-family: monospace;
}

.card-logo {
  text-align: right;
  font-weight: bold;
  font-size: 14px;
}

.card-preview p {
  letter-spacing: 2px;
  margin: 10px 0;
}

.card-bottom {
  display: flex;
  justify-content: space-between;
}

/* ===== ROW ===== */
.row {
  display: flex;
  gap: 10px;
}

/* ===== RIGHT ===== */
.checkout-right {
  flex: 1;
  background: white;
  padding: 30px;
  border-radius: 12px;
}

/* ORDER ITEM */
.order-item {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.order-item img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 6px;
}

.order-item p {
  margin: 0;
  font-weight: 500;
}

.order-item small {
  color: #666;
}

/* TOTAL */
.total {
  margin-top: 20px;
  font-weight: bold;
  font-size: 18px;
  border-top: 1px solid #eee;
  padding-top: 10px;
}
.row {
  display: flex;
  gap: 10px;
}

.field {
  flex: 1;
  display: flex;
  flex-direction: column;
}